.ServerModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.ServerModal-main {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    width: 400px;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 4px;
}

.ServerModal-inner {
    display:flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.ServerModal-inner h5{
    margin: 0;
    margin-bottom: 10px;
    color: #72767d;
    font-weight: 400;
}

.ServerModal-inner h2{
    margin:0;
    margin-bottom: 10px;
}

.ServerModal-inner label{
    text-align: left;
    color:#72767d;
    font-weight: 500;
}

.ServerModal-inner input{
    padding: 10px 5px;
    background-color: lightgray;
    border: none;
    border-radius: 2px;
}

.ServerModal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 20px;
    background-color: rgb(221, 220, 220);
    padding: 15px 0px;
    box-sizing: border-box;
}

.ServerModal-footer button {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    width: 100px;
    border-radius: 3px;
    background-color: #5865f1;
    color: #fff;
    border: none;
    height: 40px;
    cursor: pointer;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}