.ulForServers {
    list-style-type: none;
    background-color: #202225;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 75px;
    height: 100vh;
}

.liForServers {
    padding-left: 5px;
    padding-right: 5px;

}

.liForServers a {
    display: block;
    color: white;
    padding: 14px 14px;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}