.serverButton {
    height: 46px;
    width: 46px;
    border-radius: 9999px;
    display:block;
    object-fit: cover;
}

.serverButtonSelected {
    height: 46px;
    width: 46px;
    border-radius: 15px;
    display:block;
    object-fit: cover;
}
