.loginWrapper {
    width: 100%; 
    height: 100vh;
}

.loginWrapperCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:25%;
}

.loginInnerWrapper {
    background-color: #36393f;
    border-radius: 5px;
}

.loginForm {
    padding:32px;
    font-size: 18px;
}

.innerFormLogin {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.innerFormLogin h2 {
    color: white;
    font-weight: bold;
    margin: 0;
}

.innerFormLogin h3 {
    color: #72767d;
    font-size: medium;
    font-weight: 700;
}

.innerFormLogin label {
    color: #b9bbbe;
    text-align: left;
    margin-bottom: 8px;
}

.innerFormLogin input {
    margin-bottom: 15px;
    border-radius: 3px;
    padding:10px;
    border: none;
    background-color: black;
    color: white;
}

.innerFormLogin button {
    border-radius: 5px;
    padding: 13px;
    margin-top: 20px;
    background-color: #5865f1;
    color: #fff;
    border: none;
    cursor: pointer;
}

.innerFormLogin h5 {
    margin: 0;
    margin-top: 5px;
    text-align: left;
    color: #72767d;
}


.innerFormLogin h5 a {
    color: #00aff4;
}

.innerFormLoginSuccess {
    display:flex;                                                               
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 125px;
}

.innerFormLoginSuccess h2 {
    color: white;
    font-weight: bold;
    margin: 0;
}

.innerFormLoginSuccess h3 {
    color: #72767d;
    font-size: medium;
    font-weight: 700;
}