.loginWrapper {
    width: 100%;
    height: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
}

.loginInnerWrapper {
    position: relative;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #36393f;
    width: 784px;
    border-radius: 5px;
    top: 400px;
}

.loginForm {
    box-sizing: border-box;
    padding:32px;
    font-size: 18px;
    width:100%;
    height:100%;
}

.innerFormLogin {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.innerFormLogin h2 {
    color: white;
    font-weight: bold;
    margin: 0;
}

.innerFormLogin h3 {
    color: #72767d;
    font-size: medium;
    font-weight: 700;
}

.innerFormLogin label {
    color: #b9bbbe;
    text-align: left;
    margin-bottom: 8px;
}

.innerFormLogin input {
    margin-bottom: 15px;
    border-radius: 2px;
    height: 30px;
    border: none;
}

.innerFormLogin button {
    border-radius: 5px;
    margin-top: 20px;
    background-color: #5865f1;
    color: #fff;
    border: none;
    height: 40px;
    cursor: pointer;
}

.innerFormLogin h5 {
    margin: 0;
    margin-top: 5px;
    text-align: left;
    color: #72767d;
}


.innerFormLogin h5 a {
    color: #00aff4;
}