.messageWrapper {
    display: flex;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 5px;
    margin-left: 13px;
}

.messageInner {
    display:flex;

}

.messageInner img {
    display: block;
    object-fit: cover;
    border-radius: 9999px;
    height: 36px;
    width: 36px; 
    margin-right: 10px;
}

.messageNameAndBodyWrapper {
    display: flex;
    flex-direction: column;
}

.messageBody {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #DCDDDE;
    margin-top:3px;
}

.nameAndTime {
    display: flex;
    justify-content: start;
}

.nameAndTime span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-right: 0.5rem;
    color: white;
}

.nameAndTime small {
    color: #a3a6aa;
}