.TextContent {
    min-height: 100%;
    overflow-anchor: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

.TextWrapper {
    display:flex;
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    z-index: 0;
}